# python=3.8
--find-links https://download.pytorch.org/whl/torch_stable.html

numpy
scipy 
matplotlib
jupyter
ipykernel
ipympl
plotly
pandas
opencv-python
tqdm

torch-2.2.1+cu118
torchvision-0.17.1+cu118
